doctype html
html
  head
    title Veterinary Clinic Details - Pet Haven
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      h1 Veterinary Clinic Details
    main
      h2= details.name
      p Address: #{details.formatted_address}
      p Rating: #{details.rating}
      p Total Reviews: #{details.user_ratings_total}
    footer
      p &copy; 2024 Pet Haven
