doctype html
html
  head
    title Map - Pet Haven
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIxoKH92uxe8-YmZZ4mwSiJWZbU9nBdSU&callback=initMap" async defer)
    script.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
  body
    header
      h1 Map Results
    main
      #map(style="height: 500px; width: 100%")
    footer
      p &copy; 2024 Pet Haven
