doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Pet Haven - Weather
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      h1 Pet Haven
    main
      h2 Weather Information
      div#weather
      script(src="/js/weather.js")
